[submodule "harvester"]
	path = harvester
	url = https://github.com/SovereignWallet-Network/MetaMUI-Explorer-Harvester.git
[submodule "explorer-api"]
	path = explorer-api
	url = https://github.com/SovereignWallet-Network/MetaMUI-Explorer-API.git